body {
  background-image: url('https://images.unsplash.com/photo-1511268011861-691ed210aae8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1a8d78f40692d99c70c464d567ecb5cd&auto=format&fit=crop&w=2100&q=80');
  background-repeat: none;
  background-size: 100%;
}